# Node modules
node_modules/

# Build files
.build/
.cache/
admin/build/
admin/src/core/

# Temporary files
*.tmp
*.log
*.lock
*.gz
*.tgz
*.bak
*.old
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.*.local

# Strapi uploads
public/uploads/

# Optional: Ignore specific custom config files
config/*.json
config/*.js

# Optional: Ignore specific custom content types
api/**/*.json
api/**/*.js
components/**/*.json
components/**/*.js

# Ignore IDE files
.idea/
.vscode/

# Ignore OS files
Thumbs.db
.DS_Store
